<div class="mt-3 ps-3">
   <h3> {{data}}</h3>
</div>
<form action="" class="mt-5 p-5 container w-25 text-center bg-opacity-25" style="background-color: #314858; opacity: 0.5;" >
    
    <h2 class="text-center mt-3 p-3 text-white" > Sign In</h2>

    <div>
        <input (change)="acnoChange($event)" id="u1" name="uname" class="form-control mt-3 p-2" type="text" [placeholder]="data1">
    </div>
    <div>
        <input (change)="pswchange($event)" id="p1" name="password" class="form-control mt-3 p-2" type="text" placeholder="Enter Password">
    </div>
    <button (click)="login()" class="btn btn-info text-center mt-4 ">Login</button>
</form>