/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/pexels-tima-miroshnichenko-5912634.jpg');
    background-size: cover;
}

header{
    color: #FFFFFF;
    height: 50px;
    background-color:#AF9155D4;
}

footer{
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #AF9155;
}