/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('./assets/World_Bank.jpeg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    color: #1D5890;
    height: 50px;
    background-color:#FAF9FF;
}

footer{
    color: #1D5890;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #FAF9FF;
}